<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByukwTjHVv9r1LpOlPGXJ33iXJFkmK6E0</string>
	<key>GCM_SENDER_ID</key>
	<string>992111898520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.activitiesApp</string>
	<key>PROJECT_ID</key>
	<string>application-25fae</string>
	<key>STORAGE_BUCKET</key>
	<string>application-25fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992111898520:ios:25743e1d9408dbe53285ed</string>
</dict>
</plist>